useDynLib("affyPLM")

import(zlibbioc)

importClassesFrom(methods,
                  ANY,
                  character,
                  environment,
                  integer,
                  matrix,
                  missing,
                  numeric)

importFrom("Biobase", "annotation", "description", "experimentData")
importFrom("Biobase", "pData", "pData<-")
importFrom("Biobase", "phenoData", "phenoData<-")
importFrom("Biobase", "sampleNames", "sampleNames<-")
importFrom("Biobase", "geneNames")

importFrom("graphics", "boxplot", "image", "hist")

importFrom("affy", "cdfName")
importFrom("affy", "indexProbes", "probeNames", "intensity", "pm", "pm<-", "mm", "mm<-")
importFrom("affy", "MAplot", "Mbox")
importFrom("affy", "normalize")
importFrom("affy", "upDate.normalize.AffyBatch.methods")



 ##export everything that does not start with a .
 exportPattern("^[^\\.]")
 exportClasses(PLMset)
